/* Challenge styles
-------------------------------------------------- */

.challenge-desc {
  overflow-wrap: anywhere;

  img {
    max-width: 100%;
  }
}

.challenge-button {
  border: none;
  box-shadow: 0 0 15px var(--bs-secondary);

  &.challenge-solved {
    background-color: #29c830;

    &:hover {
      background-color: #37d63e;
    }
  }
}
